nav {
    background: var(--main);
    color: #fff;
    height: 3em;
    font-size: .9em;
}
nav ul {
    height: 100%;
    display: flex;
    align-items: center;
}
nav ul li:not(:first-child){margin-left: 2em;}

header {
    background: var(--second);
}

header form {
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(45, 45, 45, 0.12);
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .75em;
}


.swiper-main {overflow: hidden;}
.swiper-main .swiper-slide {width: 900px;}
.swiper-main figure {
    border-radius: 2em;
    overflow: hidden;
    position: relative;
}
.swiper-main figure img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    transition: var(--transition-slow);
    opacity: 1;
}
.swiper-main figure figcaption {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 520px;
    padding: 5em 3em 2em;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.cat {
    box-shadow: 0px 0px 8px rgba(45, 45, 45, 0.12);
    transition: var(--transition);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cat:hover, .cat:focus {box-shadow: 0px 0px 16px rgba(45, 45, 45, 0.2);}
.cat-1 {height: 570px;}
.cat-2 {height: 370px;}
.cat-3 {height: 320px;}
.cat img {
    height: 200px;
    max-width: 100%;
    object-fit: contain;
}


.offer {
    border-radius: 2em;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 8px rgba(45, 45, 45, 0.12);
}
.offer img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    transition: var(--transition-slow);
    opacity: 1;
}
.offer-1:hover img {
    transform: scale(1.1);
}
.offer-2:hover img.bg-0 {
    /* z-index: 0; */
    opacity: 0;
}
.offer figcaption {
    position: relative;
    z-index: 2;
    width: 100%;
    min-height: 370px;
    padding: 3.5em 3em;
}
.offer-1 figcaption {
    background-color: rgba(255, 255, 255, 0.4);
    color: var(--text-accent);
}
.offer-2 figcaption {color: #fff;}
.offer figcaption h2 {
    font-size: 3.5em;
    margin-bottom: .5em;
}
.offer figcaption p {
    font-size: 1.2em;
    font-weight: 700;
}


.brand {
    filter: grayscale(1);
    transition: var(--transition);
}
.brand:hover, .brand:focus {
    filter: grayscale(0);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.28);
}
.brand img {
    width: 100%;
    height: 150px;
    object-fit: scale-down;
    opacity: .4;
    transition: var(--transition);
}
.brand:hover img, .brand:focus img {
    opacity: 1;
}

/* .tooltip-box {position: relative;}
.tooltip-box > * {position: relative; z-index: 1;}
.tooltip {
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: 50%;
    width: fit-content;
    max-width: 100%;
    z-index: 10;
    background: #474747;
    color: #fff;
    padding: 2em 1em;
    border-radius: 2em;
    transition: var(--transition);
}
.tooltip-box:hover .tooltip {
    opacity: 1;
    bottom: 105%;
} */

.swiper-2 {overflow: hidden;}
.news {
    position: relative;
    overflow: hidden;
    transition: var(--transition-slow);
}
.news::after {
    content: '';
    background-color: var(--color-main);
    background-image: var(--hover);
	position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	opacity: 0;
	transition: opacity var(--transition-slow);
}
.news:hover::after{opacity: 1;}
.news:active::after{
    background-image: var(--pressed);
    opacity: 1;
}
.news:hover, .news:focus, .news:active {
    color: #fff;
    box-shadow: 0px 0px 16px rgba(45, 45, 45, 0.2);
}
.news img {
    position: relative;
    z-index: 2;
    width: 100%;
    border-radius: 1em;
    margin-bottom: 1em;
}
.news figcaption {
    position: relative;
    z-index: 2;
}


footer {
    background-color: #343434;
    color: #fff;
}
footer hr {
    background-color: #fff;
    height: 2px !important;
    width: 100%;
    opacity: 1;
    border: none;
}
footer ul li:not(:last-child) {margin-bottom: 1.5em;}
footer ul a {
    font-size: 1.1em;
    border-bottom: 1px solid;
}